Repository ccBreeze/qiankun_monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat(vite): 抽离共享 Vite 配置工厂
  .gitignore
  apps/main-app/package.json
  apps/main-app/vite.config.ts
  apps/vue3-history/package.json
  apps/vue3-history/vite.config.ts
  packages/vite-config/eslint.config.js
  packages/vite-config/package.json
  packages/vite-config/src/base.ts
  packages/vite-config/src/micro.ts
  packages/vite-config/tsconfig.json
Due: eslint --fix, prettier --write

chore(hooks): 让 lint-staged 按需触发 type-check
  .lintstagedrc.mjs
  .lintstagedrc.yaml
  docs/src/guide/git-hooks.md
Due: prettier --write

refactor(tooling): 整理 TypeScript 与 ESLint 配置分层
  apps/mock-server/tsconfig.json
  docs/pnpm-lock.yaml
  docs/src/.vitepress/theme/components/DrawioViewer/useDrawioParser.ts
  docs/src/guide/eslint-config.md
  docs/src/guide/pnpm-workspace.md
  docs/src/guide/setup.md
  docs/src/guide/tsconfig.md
  docs/src/qiankun/ocrm-troubleshooting.md
  docs/src/qiankun/troubleshooting.md
  eslint.config.js
  package.json
  packages/bridge-vue/tsconfig.json
  packages/eslint-config/src/typescript.ts
  packages/eslint-config/tsconfig.json
  pnpm-lock.yaml
  tsconfig.lib.json
  tsconfig.node.base.json
Due: eslint --fix, prettier --write

refactor(qiankun): 导出共享 qiankunRuntime 单例
  apps/main-app/src/utils/channel.ts
  apps/vue3-history/src/views/KeepAliveDemo/index.vue
  docs/src/qiankun/bridge-vue.md
  docs/src/qiankun/runtime-events.md
  docs/src/qiankun/runtime.md
  packages/bridge-vue/src/hostBridge/tab.ts
  packages/runtime/src/QiankunRuntime.ts
  packages/runtime/src/events.ts
  packages/runtime/src/index.ts
  packages/runtime/src/instance.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore(claude): 清理本地技能镜像与命令配置
  .agents/skills/commit/SKILL.md
  .agents/skills/doc-image-maintainer/SKILL.md
  .agents/skills/doc-image-maintainer/agents/openai.yaml
  .agents/skills/doc-writer/SKILL.md
  .agents/skills/doc-writer/agents/openai.yaml
  .agents/skills/doc-writer/references/vitepress-docs.md
  .agents/skills/generate-drawio/SKILL.md
  .claude/CLAUDE.md
  .claude/settings.local.json
  .claude/skills/commit/SKILL.md
  .claude/skills/doc-image-maintainer/SKILL.md
  .claude/skills/doc-image-maintainer/agents/openai.yaml
  .claude/skills/doc-writer/SKILL.md
  .claude/skills/doc-writer/agents/openai.yaml
  .claude/skills/doc-writer/references/vitepress-docs.md
  .claude/skills/generate-drawio/SKILL.md
Due: prettier --write

fix(dev): 端口占用时快速失败并输出清理命令
  packages/vite-config/src/base.ts
  scripts/dev.mjs
Due: eslint --fix, prettier --write

fix(eslint): 补齐根级 mjs 文件的类型感知范围
  docs/src/guide/eslint-config.md
  eslint.config.js
Due: eslint --fix, prettier --write

docs(speckit): 建立项目宪章并同步中文规范模板
  .claude/CLAUDE.md
  .specify/memory/constitution.md
  .specify/templates/constitution-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
Due: prettier --write

feat(modal): 新增公共弹窗组件包与演示页
  .specify/feature.json
  AGENTS.md
  apps/main-app/src/stores/staticMenus.ts
  apps/vue3-history/package.json
  apps/vue3-history/src/router/routes.ts
  apps/vue3-history/src/views/Modal/Components/ChecklistReviewModal.vue
  apps/vue3-history/src/views/Modal/Components/MetricsSnapshotModal.vue
  apps/vue3-history/src/views/Modal/index.vue
  packages/components/eslint.config.js
  packages/components/package.json
  packages/components/src/Modal/BaseModal.vue
  packages/components/src/Modal/components/DemoActionModal.vue
  packages/components/src/Modal/index.ts
  packages/components/src/Modal/manager.ts
  packages/components/src/Modal/open.ts
  packages/components/src/Modal/render.ts
  packages/components/src/Modal/types.ts
  packages/components/src/index.ts
  packages/components/tsconfig.json
  pnpm-lock.yaml
  specs/001-public-modal/checklists/requirements.md
  specs/001-public-modal/contracts/modal-ui-contract.md
  specs/001-public-modal/data-model.md
  specs/001-public-modal/plan.md
  specs/001-public-modal/quickstart.md
  specs/001-public-modal/research.md
  specs/001-public-modal/spec.md
  specs/001-public-modal/tasks.md
Due: eslint --fix, prettier --write, stylelint --fix

fix(lint): 收敛根级忽略规则并统一 AI 生成目录
  .gitignore
  .prettierignore
  eslint.config.js
  packages/eslint-config/src/base.ts
  packages/eslint-config/src/ignores.ts
Due: eslint --fix, prettier --write

feat(components): 抽离公共 AntConfigProvider 主题底座
  apps/main-app/package.json
  apps/main-app/src/App.vue
  apps/main-app/src/types/components.d.ts
  apps/main-app/src/views/AntConfigProvider/index.vue
  apps/vue3-history/src/App.vue
  packages/components/src/AntConfigProvider/globalStyle.ts
  packages/components/src/AntConfigProvider/index.vue
  packages/components/src/AntConfigProvider/theme/scss/button.scss
  packages/components/src/AntConfigProvider/theme/scss/checkbox.scss
  packages/components/src/AntConfigProvider/theme/scss/form-item.scss
  packages/components/src/AntConfigProvider/theme/scss/index.scss
  packages/components/src/AntConfigProvider/theme/scss/input-number.scss
  packages/components/src/AntConfigProvider/theme/scss/input.scss
  packages/components/src/AntConfigProvider/theme/scss/modal.scss
  packages/components/src/AntConfigProvider/theme/scss/pagination.scss
  packages/components/src/AntConfigProvider/theme/scss/radio.scss
  packages/components/src/AntConfigProvider/theme/scss/switch.scss
  packages/components/src/AntConfigProvider/theme/scss/table.scss
  packages/components/src/AntConfigProvider/theme/token/default.json
  packages/components/src/env.d.ts
  packages/components/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, stylelint --fix

fix(modal): 让命令式弹窗复用 AntConfigProvider
  packages/components/src/Modal/render.ts
Due: eslint --fix, prettier --write

perf(components): 懒加载 AntConfigProvider 全局样式
  packages/components/src/AntConfigProvider/globalStyle.ts
Due: eslint --fix, prettier --write

fix(dev): 修复 lsof 端口检测命令在 macOS 上的兼容性
  scripts/dev.mjs
Due: none

docs(vite-config): 新增 @breeze/vite-config 包文档
  docs/src/.vitepress/configs/nav.ts
  docs/src/.vitepress/configs/sidebar.ts
  docs/src/optimization/auto-import.md
  docs/src/packages/vite-config/index.md
  packages/vite-config/src/micro.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

fix(modal): 收紧命令式弹窗 props 类型
  packages/components/src/Modal/open.ts
  packages/components/src/Modal/render.ts
Due: eslint --fix, prettier --write

docs(components): 新增 @breeze/components 包文档
  docs/src/.vitepress/configs/nav.ts
  docs/src/.vitepress/configs/sidebar.ts
  docs/src/packages/components/ant-config-provider.md
  docs/src/packages/components/index.md
  docs/src/packages/components/modal.md
Due: eslint --fix, prettier --write

chore(deps): 迁移 docs 与根级依赖至 pnpm catalog
  AGENTS.md
  apps/main-app/src/stores/microApp.ts
  docs/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

fix(i18n): 支持目录层级语言模块
  .vscode/extensions.json
  .vscode/settings.json
  apps/main-app/src/locales/index.ts
  apps/vue3-history/src/locales/index.ts
  apps/vue3-history/src/views/Modal/index.vue
  packages/components/src/Modal/components/DemoActionModal.vue
  packages/components/src/locales/index.ts
  packages/i18n/src/localeMessages.ts
  packages/i18n/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs(i18n): 新增 i18n 包使用文档
  docs/src/.vitepress/configs/nav.ts
  docs/src/.vitepress/configs/sidebar.ts
  docs/src/packages/i18n/index.md
Due: eslint --fix, prettier --write

feat(skills): 新增 i18n-replace skill，支持硬编码中文文案提取与替换
  .claude/skills/i18n-replace/SKILL.md
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)) or (any of: *.{css,scss,sass})) or (any of: *.{json,md,yml,yaml})
  stylelint --fix: (any of: *.vue) or (any of: *.{css,scss,sass})
