Repository ccBreeze/qiankun_monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yaml:

# lint-staged 配置
'*.{js,ts,tsx}':
  - eslint --fix
'*.md':
  - prettier --write

feat(vue3-app): 添加 Vue3 应用并完善项目配置
  .claude/CLAUDE.md
  .claude/settings.local.json
  .gitattributes
  .gitignore
  .mcp.json
  .prettierignore
  .vscode/extensions.json
  .vscode/settings.json
  apps/vue3-app/README.md
  apps/vue3-app/env.d.ts
  apps/vue3-app/index.html
  apps/vue3-app/package.json
  apps/vue3-app/public/favicon.ico
  apps/vue3-app/src/App.vue
  apps/vue3-app/src/assets/base.css
  apps/vue3-app/src/assets/logo.svg
  apps/vue3-app/src/assets/main.css
  apps/vue3-app/src/main.ts
  apps/vue3-app/src/router/index.ts
  apps/vue3-app/src/stores/counter.ts
  apps/vue3-app/src/views/HomeView.vue
  apps/vue3-app/tsconfig.app.json
  apps/vue3-app/tsconfig.json
  apps/vue3-app/tsconfig.node.json
  apps/vue3-app/vite.config.ts
  docs/2. ESLint 配置.md
  docs/3. Prettier 配置.md
  docs/4. Husky 配置.md
  docs/6. VSCode 配置.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.node.base.json
Due: eslint --fix, prettier --write

feat(style): 集成 Stylelint、Tailwind CSS 和 SCSS 支持
  .claude/settings.local.json
  .lintstagedrc.yaml
  .stylelintignore
  .vscode/settings.json
  apps/vue3-app/package.json
  apps/vue3-app/src/assets/base.css
  apps/vue3-app/src/assets/icons/.gitkeep
  apps/vue3-app/src/assets/logo.svg
  apps/vue3-app/src/assets/main.css
  apps/vue3-app/src/assets/scss/index.scss
  apps/vue3-app/src/assets/scss/mixins.scss
  apps/vue3-app/src/assets/scss/scrollbar.scss
  apps/vue3-app/src/assets/scss/stylelint-test.scss
  apps/vue3-app/src/components/StylelintTest.vue
  apps/vue3-app/src/main.ts
  apps/vue3-app/src/views/HomeView.vue
  apps/vue3-app/tailwind.config.ts
  apps/vue3-app/vite.config.ts
  docs/4. Husky 配置.md
  docs/7. Stylelint 和样式工具链配置.md
  package.json
  pnpm-lock.yaml
  stylelint.config.js
Due: eslint --fix, prettier --write

feat(config): 重构 TypeScript 和 ESLint 配置体系
  .claude/CLAUDE.md
  .claude/settings.local.json
  .gitignore
  .prettierignore
  .vscode/settings.json
  apps/ex-app/package.json
  apps/ex-app/src/main.ts
  apps/ex-app/tsconfig.json
  apps/vue3-app/.eslintrc-auto-import.json
  apps/vue3-app/eslint.config.js
  apps/vue3-app/package.json
  apps/vue3-app/src/router/index.ts
  apps/vue3-app/src/types/auto-imports.d.ts
  apps/vue3-app/src/views/Demo/AutoImportExample.vue
  apps/vue3-app/src/views/Demo/StylelintTest.vue
  apps/vue3-app/tsconfig.app.json
  apps/vue3-app/tsconfig.node.json
  apps/vue3-app/vite.config.ts
  docs/8. TypeScript 配置体系.md
  docs/9. ESLint TypeScript Monorepo 配置指南.md
  eslint.config.js
  package.json
  packages/eslint-config/README.md
  packages/eslint-config/package.json
  packages/eslint-config/src/base.ts
  packages/eslint-config/src/ignores.ts
  packages/eslint-config/src/index.ts
  packages/eslint-config/src/prettier.ts
  packages/eslint-config/src/typescript.ts
  packages/eslint-config/src/vue3.ts
  packages/eslint-config/tsconfig.json
  packages/utils/package.json
  packages/utils/tsconfig.json
  pnpm-lock.yaml
  stylelint.config.js
  tsconfig.base.json
  tsconfig.json
  tsconfig.lib.json
  tsconfig.option.json
Due: eslint --fix, prettier --write

chore(pnpm): 初步配置 pnpm catalog
  apps/vue3-app/package.json
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(cleanup): 清理示例代码和更新 Claude 配置
  .claude/settings.local.json
  apps/ex-app/package.json
  apps/ex-app/src/main.ts
  apps/ex-app/tsconfig.json
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/tsconfig.json
Due: eslint --fix

refactor(router): 拆分动态路由并优化菜单状态
  AGENTS.md
  apps/main-app/src/components/Layout/ConsoleMenu/index.vue
  apps/main-app/src/stores/menu.ts
  apps/main-app/src/types/user.ts
  apps/main-app/src/utils/menu.ts
  apps/mock-server/eslint.config.js
  apps/vue3-app/eslint.config.js
  packages/eslint-config/src/base.ts
  packages/eslint-config/src/index.ts
  packages/eslint-config/src/typescript.ts
  packages/eslint-config/src/vue3.ts
  packages/qiankun-shared/eslint.config.js
  packages/qiankun-shared/src/index.ts
  packages/qiankun-shared/src/router/dynamicRoute.ts
  packages/qiankun-shared/src/router/dynamicRouteTypes.ts
  packages/qiankun-shared/src/router/routeMatcher.ts
  packages/qiankun-shared/src/router/routeTreeBuilder.ts
  packages/qiankun-shared/src/router/urlUtils.ts
  packages/utils/eslint.config.js
Due: eslint --fix, prettier --write

refactor(request): 重构增强器体系与缓存策略
  packages/utils/src/request/constants.ts
  packages/utils/src/request/enhancers/cacheStrategies/CacheStrategy.ts
  packages/utils/src/request/enhancers/cacheStrategies/ForceRefreshStrategy.ts
  packages/utils/src/request/enhancers/cacheStrategies/LRUCacheStrategy.ts
  packages/utils/src/request/enhancers/cacheStrategies/MemoryCacheStrategy.ts
  packages/utils/src/request/enhancers/cacheStrategies/index.ts
  packages/utils/src/request/enhancers/cacheStrategies/resolveStrategy.ts
  packages/utils/src/request/enhancers/cacheStrategies/utils.ts
  packages/utils/src/request/enhancers/compose.ts
  packages/utils/src/request/enhancers/index.ts
  packages/utils/src/request/enhancers/withCache.ts
  packages/utils/src/request/enhancers/withErrorMessage.ts
  packages/utils/src/request/enhancers/withLoading.ts
  packages/utils/src/request/enhancers/withRawResponse.ts
  packages/utils/src/request/enhancers/withStore.ts
  packages/utils/src/request/enhancers/withSuccessMessage.ts
  packages/utils/src/request/interceptors.ts
  packages/utils/src/request/types/common.ts
  packages/utils/src/request/types/enhancer.ts
  packages/utils/src/request/types/enhancerTypes.ts
  packages/utils/src/request/types/index.ts
Due: eslint --fix

feat(request): 添加请求重试增强器 withRetry
  packages/utils/src/request/enhancers/compose.ts
  packages/utils/src/request/enhancers/index.ts
  packages/utils/src/request/enhancers/withRetry.ts
  packages/utils/src/request/types/enhancer.ts
Due: eslint --fix

refactor(request): 统一请求配置类型并优化拦截器
  packages/utils/src/request/enhancers/cacheStrategies/utils.ts
  packages/utils/src/request/enhancers/compose.ts
  packages/utils/src/request/enhancers/withCache.ts
  packages/utils/src/request/enhancers/withRawResponse.ts
  packages/utils/src/request/interceptors.ts
  packages/utils/src/request/types/common.ts
  packages/utils/src/request/types/enhancer.ts
Due: eslint --fix

refactor(utils): 简化环境判断并统一运行环境常量命名
  packages/utils/src/env.ts
  packages/utils/src/index.ts
  packages/utils/src/vite-env.d.ts
Due: eslint --fix

feat(utils): 新增公共常量模块并整理包导出配置
  packages/utils/package.json
  packages/utils/src/constants/business.ts
  packages/utils/src/constants/index.ts
  packages/utils/src/constants/ui.ts
  packages/utils/src/request/enhancers/withLoading.ts
Due: eslint --fix

chore(claude): 新增 Claude Code skills 并更新项目配置
  .claude/CLAUDE.md
  .claude/settings.local.json
  .claude/skills/generate-drawio/SKILL.md
  .claude/skills/replace-getcssvar/SKILL.md
Due: prettier --write

docs(vitepress): 增强 VitePress 插件配置并修复类型声明
  .claude/skills/generate-drawio/SKILL.md
  docs/env.d.ts
  docs/package.json
  docs/src/.vitepress/config.ts
  docs/src/.vitepress/theme/index.ts
  docs/src/packages/utils/request/request-architecture.drawio
Due: eslint --fix, prettier --write

chore(claude): 补充 generate-drawio skill 的 VitePress 集成规范
  .claude/skills/generate-drawio/SKILL.md
Due: prettier --write

chore(monorepo): 统一开发服务器端口为 8xxx 段，避免与常用端口冲突
  apps/main-app/vite.config.ts
  apps/mock-server/nitro.config.ts
  apps/mock-server/package.json
  apps/vue3-app/vite.config.ts
  docs/src/.vitepress/config.ts
Due: eslint --fix

docs(vitepress): 重构文档结构，将 eslint-config 包文档迁移至统一指南体系
  docs/src/.vitepress/configs/nav.ts
  docs/src/.vitepress/configs/sidebar.ts
  docs/src/.vitepress/theme/style.css
  docs/src/guide/drawio/editor-config-save-flow.drawio
  docs/src/guide/drawio/eslint-config-order.drawio
  docs/src/guide/drawio/eslint-type-aware-workflow.drawio
  docs/src/guide/drawio/eslint-working-directories.drawio
  docs/src/guide/drawio/git-hooks-workflow.drawio
  docs/src/guide/drawio/lint-workflow.drawio
  docs/src/guide/editor-config.md
  docs/src/guide/eslint-config.md
  docs/src/guide/git-hooks.md
  docs/src/guide/setup.md
  docs/src/guide/stylelint-config.md
  docs/src/guide/tsconfig.md
  docs/src/index.md
  docs/src/packages/eslint-config/README.md
  docs/src/packages/eslint-config/overview.md
  docs/src/packages/utils/request/drawio/request-architecture.drawio
  docs/src/packages/utils/request/technical.md
  package.json
  packages/eslint-config/tsconfig.json
  pnpm-lock.yaml
  stylelint.config.js
Due: eslint --fix, prettier --write

chore(vscode): 优化 fileNesting 配置，按职责分组嵌套
  .vscode/settings.json
Due: none

chore(claude): 新增 VitePress 文档编写规范
  .claude/CLAUDE.md
  .claude/docs.md
  .claude/settings.local.json
  .mcp.json
Due: prettier --write
