Repository ccBreeze/qiankun_monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.yaml:

'*.{js,jsx,ts,tsx}':
  - eslint --fix
  - prettier --write

'*.vue':
  - eslint --fix
  - stylelint --fix
  - prettier --write

'*.{css,scss,sass}':
  - stylelint --fix
  - prettier --write

'*.{json,md,yml,yaml}':
  - prettier --write

refactor(main-app): 将 MultipleLanguages 组件重命名并迁移至 ConsoleHeader
  apps/main-app/src/components/Layout/ConsoleHeader/components/LocaleSwitcher.vue
  apps/main-app/src/components/Layout/ConsoleHeader/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

refactor(components): 使用 Teleport 重构命令式 Modal
  apps/main-app/src/App.vue
  apps/vue3-history/src/App.vue
  docs/src/packages/components/modal.md
  packages/components/src/Modal/ModalContainer.vue
  packages/components/src/Modal/index.ts
  packages/components/src/Modal/modalStore.ts
  packages/components/src/Modal/render.ts
  packages/components/src/locales/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore(mock): 添加精简版 login mock 数据
  apps/mock-server/data/breeze.account.login.json
Due: prettier --write

ci(docs): 添加 VitePress Pages 部署流程
  .github/workflows/deploy-docs.yml
Due: prettier --write

docs(micro-frontend): 新增微前端原理章节
  docs/src/.vitepress/config.ts
  docs/src/.vitepress/configs/nav.ts
  docs/src/.vitepress/configs/sidebar.ts
  docs/src/micro-frontend/drawio/qiankun-principle-exec-scripts-flow.drawio
  docs/src/micro-frontend/drawio/vite-plugin-qiankun-lifecycle-flow.drawio
  docs/src/micro-frontend/imgs/qiankun-principle-figure-01.png
  docs/src/micro-frontend/imgs/qiankun-principle-figure-02.png
  docs/src/micro-frontend/imgs/vite-plugin-qiankun-figure-01.png
  docs/src/micro-frontend/imgs/vite-plugin-qiankun-figure-02.png
  docs/src/micro-frontend/imgs/vite-plugin-qiankun-figure-03.png
  docs/src/micro-frontend/imgs/vite-plugin-qiankun-figure-04.png
  docs/src/micro-frontend/imgs/vite-plugin-qiankun-figure-05.png
  docs/src/micro-frontend/imgs/vite-plugin-qiankun-figure-06.png
  docs/src/micro-frontend/imgs/vite-plugin-qiankun-figure-07.png
  docs/src/micro-frontend/imgs/vite-plugin-qiankun-figure-08.png
  docs/src/micro-frontend/imgs/vite-plugin-qiankun-figure-09.png
  docs/src/micro-frontend/imgs/vite-plugin-qiankun-figure-10.png
  docs/src/micro-frontend/imgs/vite-plugin-qiankun-figure-11.png
  docs/src/micro-frontend/imgs/vite-plugin-qiankun-figure-12.png
  docs/src/micro-frontend/imgs/vite-plugin-qiankun-figure-13.png
  docs/src/micro-frontend/imgs/vite-plugin-qiankun-figure-14.png
  docs/src/micro-frontend/imgs/vite-plugin-qiankun-figure-15.png
  docs/src/micro-frontend/imgs/vite-plugin-qiankun-figure-16.png
  docs/src/micro-frontend/interview-qa.md
  docs/src/micro-frontend/qiankun-principle.md
  docs/src/micro-frontend/vite-plugin-qiankun.md
  docs/src/micro-frontend/why-not-module-federation.md
  docs/src/qiankun/asset-path.md
  docs/src/qiankun/style-isolation.md
Due: eslint --fix, prettier --write

refactor(components): 改用桶文件并统一 barrel 导出 AntConfigProvider
  packages/components/src/AntConfigProvider/index.ts
  packages/components/src/index.ts
Due: eslint --fix, prettier --write

docs(home): 优化首页门面并添加 GitHub 链接
  docs/src/.vitepress/config.ts
  docs/src/index.md
Due: eslint --fix, prettier --write

feat(app): 新增两个测试项目
  apps/ocrm/.env
  apps/ocrm/.eslintrc-auto-import.json
  apps/ocrm/env.d.ts
  apps/ocrm/eslint.config.js
  apps/ocrm/index.html
  apps/ocrm/package.json
  apps/ocrm/src/App.vue
  apps/ocrm/src/main.ts
  apps/ocrm/src/router/index.ts
  apps/ocrm/src/types/auto-imports.d.ts
  apps/ocrm/src/types/components.d.ts
  apps/ocrm/src/utils/microAppContext.ts
  apps/ocrm/src/views/HomeView.vue
  apps/ocrm/src/views/NotFound.vue
  apps/ocrm/tsconfig.app.json
  apps/ocrm/tsconfig.json
  apps/ocrm/tsconfig.node.json
  apps/ocrm/vite.config.ts
  apps/vue3-crm-v8/.env
  apps/vue3-crm-v8/.eslintrc-auto-import.json
  apps/vue3-crm-v8/env.d.ts
  apps/vue3-crm-v8/eslint.config.js
  apps/vue3-crm-v8/index.html
  apps/vue3-crm-v8/package.json
  apps/vue3-crm-v8/src/App.vue
  apps/vue3-crm-v8/src/main.ts
  apps/vue3-crm-v8/src/router/index.ts
  apps/vue3-crm-v8/src/types/auto-imports.d.ts
  apps/vue3-crm-v8/src/types/components.d.ts
  apps/vue3-crm-v8/src/utils/microAppContext.ts
  apps/vue3-crm-v8/src/views/HomeView.vue
  apps/vue3-crm-v8/src/views/NotFound.vue
  apps/vue3-crm-v8/tsconfig.app.json
  apps/vue3-crm-v8/tsconfig.json
  apps/vue3-crm-v8/tsconfig.node.json
  apps/vue3-crm-v8/vite.config.ts
  pnpm-lock.yaml
  scripts/dev.mjs
Due: eslint --fix, prettier --write, stylelint --fix

feat(qiankun): 添加子应用资源预加载
  apps/main-app/src/utils/microApp/prefetch.ts
  apps/main-app/src/views/MicroApp/index.vue
  docs/src/.vitepress/configs/sidebar.ts
  docs/src/qiankun/micro-app-prefetch.md
Due: eslint --fix, prettier --write, stylelint --fix

fix(app): 调整会员管理菜单优先级
  apps/main-app/src/stores/menu.ts
Due: eslint --fix, prettier --write

docs(readme): 完善项目 README，添加说明文档链接与结构说明
  README.md
Due: prettier --write

refactor(router): 用通配路由替换子应用别名机制
  apps/main-app/src/router/index.ts
  docs/src/qiankun/micro-app-registry.md
  docs/src/qiankun/routing-mechanism.md
Due: eslint --fix, prettier --write

fix(preview): 为 preview 脚本添加 --parallel 标志并同步文档
  docs/src/guide/pnpm-workspace.md
  package.json
Due: prettier --write

docs(qiankun): 深化原理文档并优化代码细节
  apps/main-app/src/components/Layout/ConsoleMenu/index.vue
  apps/main-app/src/components/Layout/index.vue
  apps/main-app/src/stores/microApp.ts
  apps/ocrm/src/router/index.ts
  apps/vue3-crm-v8/src/router/index.ts
  docs/src/micro-frontend/qiankun-principle.md
  docs/src/micro-frontend/vite-plugin-qiankun.md
  docs/src/qiankun/asset-path.md
  docs/src/qiankun/dynamic-route.md
  packages/bridge-vue/src/hooks/useKeepAlive.ts
  packages/components/src/Modal/BaseModal.vue
Due: eslint --fix, prettier --write, stylelint --fix

docs(electron): 简历相关面试内容
  docs/src/.vitepress/configs/nav.ts
  docs/src/.vitepress/configs/sidebar.ts
  docs/src/electron/drawio/full-update-flow.drawio
  docs/src/electron/electron-auto-start-permission.md
  docs/src/electron/electron-hot-update.md
  docs/src/electron/image-1.png
  docs/src/electron/image.png
  docs/src/electron/imgs/electron-hot-update-figure-01.png
  docs/src/electron/imgs/electron-hot-update-figure-02.png
  docs/src/electron/ios-webview-rem-flash.md
  docs/src/electron/mobile-deep-link-app-store.md
Due: eslint --fix, prettier --write

chore(postcss): 将 postcss 配置与依赖提升至仓库根统一管理
  .vscode/settings.json
  apps/main-app/package.json
  apps/vue3-history/package.json
  apps/vue3-history/postcss.config.js
  package.json
  pnpm-lock.yaml
  postcss.config.js
Due: eslint --fix, prettier --write

feat(crossHighlight): 表格交叉高亮
  .codegraph/.gitignore
  apps/main-app/src/stores/staticMenus.ts
  apps/vue3-history/package.json
  apps/vue3-history/src/App.vue
  apps/vue3-history/src/main.ts
  apps/vue3-history/src/types/components.d.ts
  apps/vue3-history/src/views/TableCrossHighlight/index.vue
  apps/vue3-history/src/views/VxeTableCrossHighlight/index.vue
  packages/components/src/AntConfigProvider/index.vue
  packages/plugins/eslint.config.js
  packages/plugins/package.json
  packages/plugins/src/crossHighlight/aTable.scss
  packages/plugins/src/crossHighlight/aTable.ts
  packages/plugins/src/crossHighlight/core.scss
  packages/plugins/src/crossHighlight/core.ts
  packages/plugins/src/crossHighlight/index.ts
  packages/plugins/src/crossHighlight/vxeTable.ts
  packages/plugins/src/env.d.ts
  packages/plugins/src/index.ts
  packages/plugins/tsconfig.json
  packages/runtime/src/MicroAppContext.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, stylelint --fix

chore(codegraph): 忽略本地数据文件
  .codegraph/.gitignore
Due: none

feat(request): 请求结果竞态
  .gitignore
  apps/main-app/src/stores/staticMenus.ts
  apps/vue3-history/package.json
  apps/vue3-history/src/views/RequestRaceDemo/index.vue
  packages/components/tsconfig.json
  packages/utils/src/request/enhancers/compose.ts
  packages/utils/src/request/enhancers/index.ts
  packages/utils/src/request/enhancers/withErrorMessage.ts
  packages/utils/src/request/enhancers/withRaceGuard.ts
  packages/utils/src/request/enhancers/withRetry.ts
  packages/utils/src/request/types/enhancer.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs(request): 补充按钮级 loading 用法
  docs/src/packages/utils/request/technical.md
Due: prettier --write

feat(vue3-history): 新增组件二次封装示例
  apps/main-app/src/stores/staticMenus.ts
  apps/vue3-history/src/router/routes.ts
  apps/vue3-history/src/views/ExposeForwardDemo/components/BaseInput.vue
  apps/vue3-history/src/views/ExposeForwardDemo/components/ExposeProxyInput.vue
  apps/vue3-history/src/views/ExposeForwardDemo/components/ManualExposeInput.vue
  apps/vue3-history/src/views/ExposeForwardDemo/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(keepAlive): 没有显示定义组件名的不需要缓存
  packages/bridge-vue/src/hooks/useKeepAlive.ts
Due: eslint --fix, prettier --write

feat(vue3-history): 新增组件懒加载 tabs / modal 示例
  apps/main-app/src/stores/staticMenus.ts
  apps/vue3-history/src/views/ComponentLazyDemo/Modals/AsyncDemoModal.vue
  apps/vue3-history/src/views/ComponentLazyDemo/Panels/AuditPanel.vue
  apps/vue3-history/src/views/ComponentLazyDemo/Panels/ChartPanel.vue
  apps/vue3-history/src/views/ComponentLazyDemo/Panels/SummaryPanel.vue
  apps/vue3-history/src/views/ComponentLazyDemo/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

refactor(router): 统一应用 404 页面与布局路由
  apps/main-app/src/App.vue
  apps/main-app/src/router/index.ts
  apps/main-app/src/views/HomePage/index.vue
  apps/ocrm/package.json
  apps/ocrm/src/router/index.ts
  apps/vue3-crm-v8/package.json
  apps/vue3-crm-v8/src/router/index.ts
  apps/vue3-crm-v8/src/views/NotFound.vue
  docs/src/qiankun/micro-app-registry.md
  packages/components/src/NotFound/index.ts
  packages/components/src/NotFound/index.vue
  packages/components/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, stylelint --fix

refactor(qiankun): 解耦 tab 与微应用回收逻辑
  apps/main-app/src/stores/microApp.ts
  apps/main-app/src/stores/tabBar.ts
  packages/runtime/src/events.ts
Due: eslint --fix, prettier --write

fix(auth): 修复退出登录弹窗未显示的问题
  apps/main-app/src/stores/auth.ts
Due: eslint --fix, prettier --write

测试录制 memory
  apps/main-app/src/stores/staticMenus.ts
  apps/vue3-history/src/types/components.d.ts
  apps/vue3-history/src/views/MemoryLeak/AbortController.vue
  apps/vue3-history/src/views/MemoryLeak/DetachedDom.vue
  apps/vue3-history/src/views/MemoryLeak/EventListener.vue
  apps/vue3-history/src/views/MemoryLeak/Timer.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore(codegraph): 更新 .gitignore
  .codegraph/.gitignore
Due: none

fix(qiankun): 修复构建预览时切换子应用的动态模块加载失败
  apps/main-app/src/utils/microApp/prefetch.ts
  docs/src/qiankun/micro-app-prefetch.md
Due: eslint --fix, prettier --write

refactor(vite-config): 统一子应用名称来源
  apps/main-app/src/types/window.d.ts
  apps/ocrm/.env
  apps/ocrm/env.d.ts
  apps/vue3-crm-v8/.env
  apps/vue3-crm-v8/env.d.ts
  apps/vue3-history/.env
  apps/vue3-history/env.d.ts
  docs/src/optimization/vite-code-splitting.md
  docs/src/packages/vite-config/index.md
  docs/src/qiankun/asset-path.md
  docs/src/qiankun/troubleshooting.md
  packages/vite-config/src/micro.ts
Due: eslint --fix, prettier --write

docs(agents): 抽离项目协作约定并统一引用
  .claude/CLAUDE.md
  AGENTS.md
  PROJECT_GUIDELINES.md
Due: prettier --write

refactor(vite-config): 拆分 Vue3 与 qiankun 配置职责
  apps/main-app/package.json
  apps/main-app/vite.config.ts
  apps/ocrm/package.json
  apps/ocrm/vite.config.ts
  apps/vue3-crm-v8/package.json
  apps/vue3-crm-v8/vite.config.ts
  apps/vue3-history/vite.config.ts
  packages/vite-config/package.json
  packages/vite-config/src/micro.ts
  packages/vite-config/src/qiankun.ts
  packages/vite-config/src/vue3.ts
  packages/vite-config/src/vue3Micro.ts
Due: eslint --fix, prettier --write

build(pnpm): 更新 pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

feat(moduleFederation): 模块联邦共享 vue3 依赖
  apps/main-app/package.json
  apps/main-app/vite.config.ts
  packages/vite-config/package.json
  packages/vite-config/src/federation/micro.ts
  packages/vite-config/src/federation/patches/sharedFallback.ts
  packages/vite-config/src/federation/patches/vitePluginFederationQiankun.ts
  packages/vite-config/src/federation/vue3.ts
  packages/vite-config/src/vue3.ts
  packages/vite-config/src/vue3Micro.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

temp: 解决 modal 全局样式问题
  docs/src/micro-frontend/qiankun-principle.md
  docs/src/packages/components/modal.md
  packages/components/src/Modal/BaseModal.vue
Due: eslint --fix, prettier --write, stylelint --fix

docs(electron): 简历相关面试内容
  docs/src/.vitepress/configs/nav.ts
  docs/src/.vitepress/configs/sidebar.ts
  docs/src/interview/electron/drawio/electron-hot-update-full-update-flow.drawio
  docs/src/interview/electron/electron-auto-start-permission.md
  docs/src/interview/electron/electron-hot-update.md
  docs/src/interview/electron/electron-interview-qa.md
  docs/src/interview/electron/imgs/electron-hot-update-figure-01.png
  docs/src/interview/electron/imgs/electron-hot-update-figure-02.png
  docs/src/interview/micro-frontend/interview-qa-four-questions.md
  docs/src/interview/rn/imgs/mobile-deep-link-app-store-figure-01.png
  docs/src/interview/rn/imgs/mobile-deep-link-app-store-figure-02.png
  docs/src/interview/rn/ios-webview-rem-flash.md
  docs/src/interview/rn/mobile-deep-link-app-store.md
Due: eslint --fix, prettier --write
