Repository ccBreeze/qiankun_monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

chore(claude): 新增 VitePress 文档编写规范
  .claude/CLAUDE.md
  .claude/docs.md
  .claude/settings.local.json
  .mcp.json
Due: prettier --write

chore(monorepo): 通过 catalog 统一剩余硬编码依赖版本
  docs/src/.vitepress/configs/sidebar.ts
  docs/src/guide/pnpm-workspace.md
  package.json
  packages/qiankun-shared/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

chore(claude): 新增 commit skill，规范提交信息生成流程
  .claude/skills/commit/SKILL.md
Due: prettier --write

chore(stylelint): 优化 Stylelint 配置，新增 Tailwind CSS 集成文档
  .stylelintignore
  .vscode/extensions.json
  apps/main-app/src/assets/scss/index.scss
  apps/vue3-app/src/assets/scss/mixins.scss
  apps/vue3-app/src/assets/scss/scrollbar.scss
  apps/vue3-app/src/assets/scss/stylelint-test.scss
  apps/vue3-app/src/views/Demo/StylelintTest.vue
  apps/vue3-app/src/views/HomeView.vue
  apps/vue3-app/tailwind.config.ts
  docs/src/guide/stylelint-config.md
  docs/src/guide/tailwind-config.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  stylelint.config.js
Due: eslint --fix, prettier --write, stylelint --fix

chore(claude): 收紧权限配置，新增 drawio MCP 集成
  .claude/settings.local.json
  .claude/skills/generate-drawio/SKILL.md
  .mcp.json
Due: prettier --write

docs(vitepress): 重命名导航分组及文档标题
  docs/src/.vitepress/configs/nav.ts
  docs/src/.vitepress/configs/sidebar.ts
  docs/src/guide/eslint-config.md
  docs/src/guide/pnpm-workspace.md
  docs/src/guide/stylelint-config.md
  docs/src/guide/tsconfig.md
Due: eslint --fix, prettier --write

refactor(qiankun): 重构路由前缀解析逻辑，支持 hash history 模式
  apps/main-app/src/router/index.ts
  apps/main-app/src/stores/menu.ts
  apps/main-app/src/views/MicroApp/utils/registry.ts
  apps/mock-server/data/candao.account.login.json
  docs/src/qiankun/dynamic-route.md
  docs/src/qiankun/menu-store.md
  docs/src/qiankun/micro-app-registry.md
  packages/qiankun-shared/src/router/parsers.ts
  packages/qiankun-shared/src/router/routeTreeBuilder.ts
  packages/qiankun-shared/src/router/types.ts
Due: eslint --fix, prettier --write

refactor(qiankun): 重构路由前缀解析逻辑，支持 hash history 模式
  apps/main-app/src/router/index.ts
  apps/main-app/src/stores/menu.ts
  apps/main-app/src/views/MicroApp/utils/registry.ts
  docs/src/qiankun/dynamic-route.md
  docs/src/qiankun/menu-store.md
  docs/src/qiankun/micro-app-registry.md
  packages/qiankun-shared/src/router/parsers.ts
  packages/qiankun-shared/src/router/routeTreeBuilder.ts
  packages/qiankun-shared/src/router/types.ts
Due: eslint --fix, prettier --write

refactor(main-app): 将 candao 命名前缀统一替换为 breeze
  apps/main-app/src/api/auth.ts
  apps/main-app/src/api/system.ts
  apps/main-app/src/stores/menu.ts
  apps/main-app/src/views/MicroApp/utils/registry.ts
  apps/mock-server/routes/ManageAction.post.ts
  docs/src/qiankun/menu-store.md
  docs/src/qiankun/micro-app-registry.md
  docs/src/qiankun/micro-app-store.md
Due: eslint --fix, prettier --write

feat(main-app): 添加未登录重定向，整理子应用依赖配置
  .vscode/settings.json
  apps/main-app/package.json
  apps/main-app/src/App.vue
  apps/vue3-app/package.json
  apps/vue3-app/src/main.ts
  apps/vue3-app/tsconfig.node.json
  docs/src/guide/tailwind-config.md
  docs/src/guide/tsconfig.md
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, stylelint --fix

refactor(monorepo): 将 vue3-app 重命名为 vue3-history
  apps/vue3-history/.eslintrc-auto-import.json
  apps/vue3-history/README.md
  apps/vue3-history/env.d.ts
  apps/vue3-history/eslint.config.js
  apps/vue3-history/index.html
  apps/vue3-history/package.json
  apps/vue3-history/postcss.config.js
  apps/vue3-history/public/favicon.ico
  apps/vue3-history/src/App.vue
  apps/vue3-history/src/assets/icons/.gitkeep
  apps/vue3-history/src/assets/scss/index.scss
  apps/vue3-history/src/assets/scss/scrollbar.scss
  apps/vue3-history/src/assets/scss/stylelint-test.scss
  apps/vue3-history/src/main.ts
  apps/vue3-history/src/router/index.ts
  apps/vue3-history/src/stores/counter.ts
  apps/vue3-history/src/types/auto-imports.d.ts
  apps/vue3-history/src/views/Demo/AutoImportExample.vue
  apps/vue3-history/src/views/Demo/StylelintTest.vue
  apps/vue3-history/src/views/HomeView.vue
  apps/vue3-history/tsconfig.app.json
  apps/vue3-history/tsconfig.json
  apps/vue3-history/tsconfig.node.json
  apps/vue3-history/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, stylelint --fix

refactor(main-app): 重构登录鉴权与请求错误处理
  apps/main-app/src/App.vue
  apps/main-app/src/router/guard.ts
  apps/main-app/src/router/index.ts
  apps/main-app/src/utils/request.ts
  apps/mock-server/data/breeze.system.getEnums.json
  docs/src/packages/utils/request/technical.md
  packages/utils/src/request/types/enhancer.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor(main-app): 重构登录鉴权与请求错误处理
  apps/main-app/src/App.vue
  apps/main-app/src/router/guard.ts
  apps/main-app/src/router/index.ts
  apps/main-app/src/utils/request.ts
  apps/mock-server/data/breeze.account.login.json
  apps/mock-server/data/breeze.system.getEnums.json
  docs/src/packages/utils/request/technical.md
  packages/utils/src/request/types/enhancer.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(qiankun-shared): 修正 router 模块文件名大小写与导入路径一致
  packages/qiankun-shared/src/router/DynamicRoute.ts
  packages/qiankun-shared/src/router/RouteMatcher.ts
  packages/qiankun-shared/src/router/RouteTreeBuilder.ts
Due: eslint --fix, prettier --write

refactor(router): 独立共享路由包并统一 activeRule 命名
  apps/main-app/package.json
  apps/main-app/src/components/Layout/ConsoleMenu/index.vue
  apps/main-app/src/router/index.ts
  apps/main-app/src/stores/menu.ts
  apps/main-app/src/stores/microApp.ts
  apps/main-app/src/types/user.ts
  apps/main-app/src/views/MicroApp/utils/registry.ts
  docs/src/guide/pnpm-workspace.md
  docs/src/guide/tsconfig.md
  docs/src/qiankun/dynamic-route.md
  docs/src/qiankun/menu-store.md
  docs/src/qiankun/micro-app-registry.md
  docs/src/qiankun/micro-app-store.md
  packages/qiankun-shared/src/index.ts
  packages/router/eslint.config.js
  packages/router/package.json
  packages/router/src/DynamicRoute.ts
  packages/router/src/RouteMatcher.ts
  packages/router/src/RouteTreeBuilder.ts
  packages/router/src/index.ts
  packages/router/src/parsers.ts
  packages/router/src/types.ts
  packages/router/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, stylelint --fix

refactor(qiankun): 简化子应用上下文与 props 传递机制
  apps/main-app/package.json
  apps/main-app/src/components/Layout/ConsoleMenu/index.vue
  apps/main-app/src/constant/index.ts
  apps/main-app/src/constant/microApp.ts
  apps/main-app/src/router/index.ts
  apps/main-app/src/stores/menu.ts
  apps/main-app/src/stores/microApp.ts
  apps/main-app/src/utils/microAppRegistry.ts
  apps/main-app/src/views/MicroApp/index.vue
  apps/vue3-history/src/main.ts
  apps/vue3-history/src/router/guard/dynamicRouteGuard.ts
  apps/vue3-history/src/router/index.ts
  apps/vue3-history/src/utils/microAppContext.ts
  packages/bridge-vue/package.json
  packages/bridge-vue/src/dynamicRouteGuard.ts
  packages/bridge-vue/src/index.ts
  packages/bridge-vue/src/router/dynamicRouteGuard.ts
  packages/router/package.json
  packages/router/src/DynamicRoute.ts
  packages/router/src/parsers.ts
  packages/router/src/types.ts
  packages/runtime/src/MicroAppContext.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.lib.json
Due: eslint --fix, prettier --write, stylelint --fix

chore(editor): 更新 VSCode 设置项与编辑器配置文档
  .vscode/settings.json
  docs/src/guide/editor-config.md
  docs/src/guide/tsconfig.md
Due: prettier --write

style(docs): 修正 CSS 属性排序并适配大屏内容区宽度
  docs/src/.vitepress/theme/components/DrawioViewer/index.vue
  docs/src/.vitepress/theme/style.css
Due: eslint --fix, prettier --write, stylelint --fix

chore(claude): 更新 Claude 配置与技能规范
  .claude/docs.md
  .claude/settings.local.json
  .claude/skills/generate-drawio/SKILL.md
Due: prettier --write

docs(qiankun): 补充微前端架构文档并重组导航结构
  docs/src/.vitepress/configs/sidebar.ts
  docs/src/qiankun/bridge-vue.md
  docs/src/qiankun/drawio/routing-mechanism.drawio
  docs/src/qiankun/dynamic-route.md
  docs/src/qiankun/menu-store.md
  docs/src/qiankun/micro-app-registry.md
  docs/src/qiankun/micro-app-store.md
  docs/src/qiankun/routing-mechanism.md
  docs/src/qiankun/runtime.md
  docs/src/qiankun/tab-bar-store.md
  docs/src/qiankun/troubleshooting.md
Due: eslint --fix, prettier --write

refactor(qiankun): 过滤 hash 模式子应用的路由别名并完善注释
  apps/main-app/src/router/index.ts
  apps/main-app/src/utils/microAppRegistry.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)) or (any of: *.{css,scss,sass})) or (any of: *.{json,md,yml,yaml})
  stylelint --fix: (any of: *.vue) or (any of: *.{css,scss,sass})
