Repository ccBreeze/qiankun_monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

refactor(qiankun): 过滤 hash 模式子应用的路由别名并完善注释
  apps/main-app/src/router/index.ts
  apps/main-app/src/utils/microAppRegistry.ts
Due: eslint --fix, prettier --write

feat(qiankun): 实现子应用 KeepAlive 管理
  .mcp.json
  apps/main-app/src/App.vue
  apps/main-app/src/components/Layout/ConsoleTabs/index.vue
  apps/main-app/src/stores/menu.ts
  apps/main-app/src/stores/microApp.ts
  apps/main-app/src/stores/staticMenus.ts
  apps/main-app/src/stores/tabBar.ts
  apps/main-app/src/utils/channel.ts
  apps/main-app/src/views/MicroApp/index.vue
  apps/vue3-history/package.json
  apps/vue3-history/src/App.vue
  apps/vue3-history/src/main.ts
  apps/vue3-history/src/router/routes.ts
  apps/vue3-history/src/utils/hostBridge.ts
  apps/vue3-history/src/views/KeepAliveDemo/Detail.vue
  apps/vue3-history/src/views/KeepAliveDemo/index.vue
  packages/bridge-vue/package.json
  packages/bridge-vue/src/hooks/useKeepAlive.ts
  packages/bridge-vue/src/hostBridge/index.ts
  packages/bridge-vue/src/hostBridge/tab.ts
  packages/bridge-vue/src/index.ts
  packages/bridge-vue/src/router/dynamicRouteGuard.ts
  packages/eslint-config/src/vue3.ts
  packages/router/src/parsers.ts
  packages/router/src/types.ts
  packages/runtime/src/MicroAppContext.ts
  packages/runtime/src/events.ts
  packages/runtime/src/index.ts
  packages/runtime/src/instance.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, stylelint --fix

docs(qiankun): 补充 KeepAlive 与应用通信文档体系
  docs/src/.vitepress/configs/sidebar.ts
  docs/src/qiankun/bridge-vue.md
  docs/src/qiankun/drawio/keep-alive-blank-transition-cycle.drawio
  docs/src/qiankun/drawio/keep-alive-data-flow.drawio
  docs/src/qiankun/drawio/keep-alive-definition-usage-flow.drawio
  docs/src/qiankun/drawio/keep-alive-listening-lifecycle-break.drawio
  docs/src/qiankun/drawio/runtime-events-complete-flow.drawio
  docs/src/qiankun/dynamic-route.md
  docs/src/qiankun/imgs/Application_died_in_status_NOT_MOUNTED.png
  docs/src/qiankun/imgs/couponExchangeActivity.png
  docs/src/qiankun/imgs/couponExchangeActivityForm.png
  docs/src/qiankun/imgs/parentComponent_ctx_deactivate.png
  docs/src/qiankun/keep-alive-micro-app-switch.md
  docs/src/qiankun/keep-alive.md
  docs/src/qiankun/menu-store.md
  docs/src/qiankun/micro-app-store.md
  docs/src/qiankun/routing-mechanism.md
  docs/src/qiankun/runtime-events.md
  docs/src/qiankun/runtime.md
  docs/src/qiankun/style-isolation.md
  docs/src/qiankun/tab-bar-store.md
  docs/src/qiankun/troubleshooting.md
Due: eslint --fix, prettier --write

docs(guide): 补充 ESLint 规则说明与学习视频
  docs/src/guide/eslint-config.md
  docs/src/guide/setup.md
Due: prettier --write

style(main-app): 增加全局滚动条样式
  apps/main-app/src/assets/scss/index.scss
  apps/main-app/src/assets/scss/scrollbar.scss
Due: prettier --write, stylelint --fix

chore(claude): 调整本地工具开关与 drawio 技能规则
  .claude/settings.local.json
  .claude/skills/generate-drawio/SKILL.md
Due: prettier --write

chore(agents): 新增 commit 与 drawio 技能定义
  .agents/skills/commit/SKILL.md
  .agents/skills/generate-drawio/SKILL.md
Due: prettier --write

feat(qiankun): 支持跨应用 tab 跳转与共享 activeRule
  apps/main-app/src/stores/menu.ts
  apps/main-app/src/utils/channel.ts
  apps/main-app/src/utils/microAppRegistry.ts
  apps/vue3-history/src/views/KeepAliveDemo/index.vue
  docs/src/qiankun/bridge-vue.md
  docs/src/qiankun/menu-store.md
  docs/src/qiankun/micro-app-registry.md
  docs/src/qiankun/routing-mechanism.md
  docs/src/qiankun/runtime-events.md
  docs/src/qiankun/runtime.md
  packages/bridge-vue/src/hostBridge/tab.ts
  packages/runtime/src/events.ts
  packages/runtime/src/index.ts
  packages/runtime/src/microApps.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(qiankun): 支持子应用资源路径运行时解析
  .gitignore
  apps/main-app/src/router/index.ts
  apps/main-app/src/stores/menu.ts
  apps/main-app/src/stores/microApp.ts
  apps/main-app/src/stores/staticMenus.ts
  apps/main-app/src/types/window.d.ts
  apps/main-app/src/utils/microApp/assetsPath.ts
  apps/main-app/src/utils/microApp/cssProcessor.ts
  apps/main-app/src/utils/microApp/htmlProcessor.ts
  apps/main-app/src/utils/microApp/registry.ts
  apps/main-app/src/views/MicroApp/index.vue
  apps/main-app/vite.config.ts
  apps/mock-server/package.json
  apps/vue3-history/src/router/routes.ts
  apps/vue3-history/src/views/AssetPathTest/LazyDetail.vue
  apps/vue3-history/src/views/AssetPathTest/images/add.png
  apps/vue3-history/src/views/AssetPathTest/index.vue
  apps/vue3-history/vite.config.ts
  eslint.config.js
  package.json
  packages/eslint-config/src/typescript.ts
  scripts/dev.mjs
Due: eslint --fix, prettier --write, stylelint --fix

feat(qiankun): 支持子应用字体资源路径加载
  apps/main-app/src/assets/fonts/Montserrat-Regular.ttf
  apps/main-app/src/assets/scss/fonts.scss
  apps/main-app/src/assets/scss/index.scss
  apps/vue3-history/src/views/AssetPathTest/index.vue
  apps/vue3-history/vite.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(qiankun): 支持按 tab 生命周期回收子应用
  apps/main-app/src/stores/microApp.ts
  apps/main-app/src/stores/tabBar.ts
  apps/main-app/src/views/MicroApp/index.vue
  packages/bridge-vue/src/hooks/useKeepAlive.ts
  packages/bridge-vue/src/hostBridge/tab.ts
  packages/bridge-vue/src/router/dynamicRouteGuard.ts
  packages/router/src/parsers.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs(qiankun): 补充资源路径与排障文档
  docs/src/.vitepress/configs/nav.ts
  docs/src/.vitepress/configs/sidebar.ts
  docs/src/optimization/font-loading-optimization.md
  docs/src/qiankun/asset-path.md
  docs/src/qiankun/imgs/asset-path-figure-00.png
  docs/src/qiankun/imgs/asset-path-figure-01.png
  docs/src/qiankun/imgs/asset-path-figure-02.png
  docs/src/qiankun/imgs/asset-path-figure-03.png
  docs/src/qiankun/imgs/asset-path-figure-04.png
  docs/src/qiankun/imgs/asset-path-figure-05.png
  docs/src/qiankun/imgs/asset-path-figure-09.png
  docs/src/qiankun/imgs/asset-path-figure-10.png
  docs/src/qiankun/imgs/asset-path-figure-11.png
  docs/src/qiankun/imgs/asset-path-figure-12.png
  docs/src/qiankun/imgs/asset-path-figure-13.png
  docs/src/qiankun/imgs/asset-path-figure-14.png
  docs/src/qiankun/imgs/asset-path-figure-15.png
  docs/src/qiankun/imgs/asset-path-figure-16.png
  docs/src/qiankun/imgs/asset-path-figure-17.png
  docs/src/qiankun/imgs/asset-path-figure-18.png
  docs/src/qiankun/imgs/asset-path-figure-19.png
  docs/src/qiankun/imgs/asset-path-figure-20.png
  docs/src/qiankun/imgs/dynamicImport404Error.png
  docs/src/qiankun/imgs/dynamicImportBuildOutput.png
  docs/src/qiankun/imgs/dynamicImportRequest404.png
  docs/src/qiankun/imgs/ocrm-troubleshooting-figure-01.png
  docs/src/qiankun/imgs/ocrm-troubleshooting-figure-02.png
  docs/src/qiankun/imgs/ocrm-troubleshooting-figure-03.png
  docs/src/qiankun/imgs/ocrm-troubleshooting-figure-04.png
  docs/src/qiankun/imgs/ocrm-troubleshooting-figure-05.png
  docs/src/qiankun/imgs/ocrm-troubleshooting-figure-06.png
  docs/src/qiankun/imgs/ocrm-troubleshooting-figure-07.png
  docs/src/qiankun/imgs/ocrm-troubleshooting-figure-08.png
  docs/src/qiankun/imgs/troubleshooting-figure-01.png
  docs/src/qiankun/imgs/troubleshooting-figure-02.png
  docs/src/qiankun/imgs/troubleshooting-figure-03.png
  docs/src/qiankun/keep-alive-micro-app-switch.md
  docs/src/qiankun/ocrm-troubleshooting.md
  docs/src/qiankun/troubleshooting.md
Due: eslint --fix, prettier --write

docs(monorepo): 同步 qiankun 与开发工作流文档
  docs/src/guide/eslint-config.md
  docs/src/guide/pnpm-workspace.md
  docs/src/guide/tsconfig.md
  docs/src/qiankun/asset-path.md
  docs/src/qiankun/bridge-vue.md
  docs/src/qiankun/drawio/runtime-events-complete-flow.drawio
  docs/src/qiankun/dynamic-route.md
  docs/src/qiankun/keep-alive.md
  docs/src/qiankun/micro-app-store.md
  docs/src/qiankun/routing-mechanism.md
  docs/src/qiankun/runtime-events.md
  docs/src/qiankun/tab-bar-store.md
Due: prettier --write

chore(claude): 新增文档编写与图片维护技能
  .agents/skills/doc-image-maintainer/SKILL.md
  .agents/skills/doc-image-maintainer/agents/openai.yaml
  .agents/skills/doc-writer/SKILL.md
  .agents/skills/doc-writer/agents/openai.yaml
  .agents/skills/doc-writer/references/vitepress-docs.md
  .claude/docs.md
  .claude/settings.local.json
  .claude/skills/doc-image-maintainer/SKILL.md
  .claude/skills/doc-image-maintainer/agents/openai.yaml
  .claude/skills/doc-writer/SKILL.md
  .claude/skills/doc-writer/agents/openai.yaml
  .claude/skills/doc-writer/references/vitepress-docs.md
Due: prettier --write

perf(fonts): 将 Montserrat 字体替换为 woff2 格式以减小体积
  apps/main-app/src/assets/fonts/Montserrat-Regular.ttf
  apps/main-app/src/assets/fonts/Montserrat-Regular.woff2
  apps/main-app/src/assets/scss/fonts.scss
Due: prettier --write, stylelint --fix

feat(antd): 改为按需引入 ant-design-vue 组件
  apps/main-app/package.json
  apps/main-app/src/components/Layout/ConsoleHeader/components/UserAvatarTooltip.vue
  apps/main-app/src/components/Layout/ConsoleHeader/index.vue
  apps/main-app/src/components/Layout/ConsoleMenu/index.vue
  apps/main-app/src/components/Layout/ConsoleTabs/index.vue
  apps/main-app/src/components/MultipleLanguages/MultipleLanguages.vue
  apps/main-app/src/main.ts
  apps/main-app/src/types/components.d.ts
  apps/main-app/vite.config.ts
  apps/vue3-history/package.json
  apps/vue3-history/src/main.ts
  apps/vue3-history/src/types/components.d.ts
  apps/vue3-history/vite.config.ts
  packages/eslint-config/src/vue3.ts
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write, stylelint --fix

perf(qiankun): 优化子应用资源路径与构建拆包
  apps/main-app/src/utils/microApp/assetsPath.ts
  apps/main-app/src/utils/microApp/entryBase.ts
  apps/main-app/src/utils/microApp/htmlProcessor.ts
  apps/main-app/src/utils/microApp/registry.ts
  apps/main-app/vite.config.ts
  apps/vue3-history/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs(optimization): 补充构建优化相关文档
  docs/src/.vitepress/configs/nav.ts
  docs/src/.vitepress/configs/sidebar.ts
  docs/src/optimization/auto-import.md
  docs/src/optimization/font-loading-optimization.md
  docs/src/optimization/imgs/vite-code-splitting-figure-01.png
  docs/src/optimization/imgs/vite-code-splitting-figure-02.png
  docs/src/optimization/imgs/vite-code-splitting-figure-03.png
  docs/src/optimization/imgs/vite-code-splitting-figure-04.png
  docs/src/optimization/imgs/vite-code-splitting-figure-05.png
  docs/src/optimization/imgs/vite-code-splitting-figure-06.png
  docs/src/optimization/vite-code-splitting.md
  docs/src/qiankun/asset-path.md
  docs/src/qiankun/image-1.png
  docs/src/qiankun/image.png
  docs/src/qiankun/imgs/asset-path-figure-00.png
  docs/src/qiankun/imgs/asset-path-figure-02.png
  docs/src/qiankun/imgs/asset-path-figure-06.png
  docs/src/qiankun/imgs/asset-path-figure-07.png
  docs/src/qiankun/imgs/asset-path-figure-08.png
  docs/src/qiankun/imgs/asset-path-figure-11.png
  docs/src/qiankun/imgs/asset-path-figure-21.png
  docs/src/qiankun/imgs/asset-path-figure-22.png
  docs/src/qiankun/imgs/asset-path-figure-23.png
  docs/src/qiankun/imgs/dynamicImport404Error.png
  docs/src/qiankun/imgs/dynamicImportBuildOutput.png
  docs/src/qiankun/imgs/dynamicImportRequest404.png
Due: eslint --fix, prettier --write

chore(claude): 调整本地协作配置与 MCP 设置
  .claude/CLAUDE.md
  .claude/settings.local.json
  .mcp.json
Due: prettier --write

docs(qiankun): 优化文档图片展示方式
  docs/package.json
  docs/src/.vitepress/config.ts
  docs/src/.vitepress/theme/style.css
  docs/src/qiankun/asset-path.md
Due: eslint --fix, prettier --write, stylelint --fix

feat(vite): 抽离共享 Vite 配置工厂
  .gitignore
  apps/main-app/package.json
  apps/main-app/vite.config.ts
  apps/vue3-history/package.json
  apps/vue3-history/vite.config.ts
  packages/vite-config/eslint.config.js
  packages/vite-config/package.json
  packages/vite-config/src/base.ts
  packages/vite-config/src/micro.ts
  packages/vite-config/tsconfig.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)) or (any of: *.{css,scss,sass})) or (any of: *.{json,md,yml,yaml})
  stylelint --fix: (any of: *.vue) or (any of: *.{css,scss,sass})
